.footer {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: [full-start] minmax(0.5rem, 1fr) [center-start] repeat(12,
            [col-start] minmax(min-content, 9.9rem) [col-end]) [center-end] minmax(0.5rem, 1fr) [full-end];
    grid-column-gap: 1.6rem;
    position: relative;
    background-color: var(--c-black);
    margin-top: 12rem;

    &-container {
        grid-column: center-start / center-end;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        // align-items: center;
        justify-items: center;
        justify-content: space-between;
        grid-column-gap: 2rem;
        grid-row-gap: 5rem;
        padding: 10rem 0;

        @media screen and (max-width: 1100px) {
            padding: 10rem 5rem;
        }
    }

    &__element {
        justify-self: end;

        &--1 {
            @media screen and (max-width: 660px) {
                justify-self: start;
            }
        }

        &--2 {
            @media screen and (max-width: 660px) {
                justify-self: start;
            }
        }

        &--3 {
            @media screen and (max-width: 930px) {
                justify-self: start;
            }
        }

        &--4 {
            @media screen and (max-width: 1100px) {
                justify-self: start;
            }

            @media screen and (max-width: 930px) {
                justify-self: end;
            }

            @media screen and (max-width: 660px) {
                justify-self: start;
            }
        }


        .footer__text {
            text-align: left;
            margin-top: 1rem;
            color: var(--c-dark-gray--1);
            font-size: 1.6rem;
            width: 90%;

            @media screen and (max-width: 660px) {
                width: 100%;
            }
        }

        li {

            list-style: none;
            margin-top: 1.5rem;

            a {
                color: var(--c-dark-gray--1);
                text-decoration: none;
            }
        }

    }

    &__logo {}
}