.u-color--dark {
    color: var(--c-black);
}

.u-color--light {
    color: var(--c-light-gray--4);
}

.u-text--bold {
    font-weight: bold;
}

.u-text--normal {
    font-weight: normal;
}

.u-margin-top-minus {
    margin-top: -3.5rem;
}

.u-margin-bottom--sml {
    margin-bottom: 2rem;
}